In [2]:
#Importing Pandas Library**

In [3]:
import pandas as pd

**Checking Pandas Version**

In [4]:
pd.__version__

'2.0.3'

**Pandas Series**

*It is a one-dimensional array holding data of any type*

In [5]:
x = [3,6,9,12,15,18,21]
ser = pd.Series(x)
ser

0     3
1     6
2     9
3    12
4    15
5    18
6    21
dtype: int64

**If nothing else is specified, the values are labeled with their index number**

**First value has index 0, second value has index 1 and so on**

**The label's can be used to access a specified value**

In [6]:
ser[0]

3

**Creating Labels**

In [7]:
x = [3,6,9,12,15,18,21]
ser = pd.Series(x,index = ["A","B","C","D","E","F","G"])
ser

A     3
B     6
C     9
D    12
E    15
F    18
G    21
dtype: int64

**Using Name Attribute**

In [8]:
x = [3,6,9,12,15,18,21]
ser = pd.Series(x,index = ["A","B","C","D","E","F","G"],name = "Multiple's of 3")
ser

A     3
B     6
C     9
D    12
E    15
F    18
G    21
Name: Multiple's of 3, dtype: int64

**When you have created labels, you can access an item by referring to the label**

In [9]:
ser["A"]

3

**Key/Value Pairs as Series**

*The keys of the dictionary become the labels*

In [10]:
cal = {"day1": 420, "day2": 380, "day3": 390,"day4":410,"day5":320}
cal_ser = pd.Series(cal)
cal_ser

day1    420
day2    380
day3    390
day4    410
day5    320
dtype: int64

**Access Item by using Key of the Dictionary**

In [11]:
cal_ser["day1"]

420

**Pandas DataFrames**

*It is a two-dimensional array holding data of any type in form of rows and columns*

In [13]:
cal = {"calories":[420,380,390,410,320],
      "duration":[50,40,45,47,49]}
cal_df = pd.DataFrame(cal)
cal_df

   calories  duration
0       420        50
1       380        40
2       390        45
3       410        47
4       320        49

**Index of Data Frame**

In [14]:
cal_df.index

RangeIndex(start=0, stop=5, step=1)

**Locate Row**

*Pandas use the loc attribute to return one or more specified row(s)*

In [16]:
cal_df.loc[0:] # This attribute returns a Pandas Series

   calories  duration
0       420        50
1       380        40
2       390        45
3       410        47
4       320        49

**Access Multiple Rows**

*When using [ ] the result is a Pandas DataFrame*

In [17]:
cal_df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

**Named Indexes**

*With the index argument, you can name your own indexes*

In [18]:
cal = {"calories":[420,380,390,410,320],
      "duration":[50,40,45,47,49]}
cal_df = pd.DataFrame(cal,index = ["day1","day2","day3","day4","day5"])
cal_df

      calories  duration
day1       420        50
day2       380        40
day3       390        45
day4       410        47
day5       320        49

**Locate Named Indexes**

*Use the named index in the loc attribute to return the specified row(s)*

In [19]:
cal_df.loc["day1"]

calories    420
duration     50
Name: day1, dtype: int64

**Read CSV File**

In [ ]:
df = pd.read_csv("/kaggle/input/canada-per-capita-income/canada_per_capita_income.csv")
df

**Changing the Index Column**

In [ ]:
df = pd.read_csv("/kaggle/input/canada-per-capita-income/canada_per_capita_income.csv",index_col = "year")
df

**Manipulating the Index**

In [ ]:
df = pd.read_csv("/kaggle/input/canada-per-capita-income/canada_per_capita_income.csv")
df.set_index("year")

**Use to_string() to print the entire DataFrame**

In [ ]:
print(df.to_string())

**Conditional Selection**

In [ ]:
df.year == 1970

**max_rows**

*The maximum number of rows returned is defined in Pandas option settings*

In [ ]:
pd.options.display.max_rows

**Increase the maximum number of rows to display the entire DataFrame**

In [ ]:
pd.options.display.max_rows = 999
pd.options.display.max_rows

**min_rows**

*The minimum number of rows returned is defined in Pandas option settings*

In [ ]:
pd.options.display.min_rows

**Increase the minimum number of rows to display the entire DataFrame**

In [ ]:
pd.options.display.min_rows = 50
pd.options.display.min_rows

**Viewing the Data**

*By default, the head() method returns the headers and top 5 rows*

In [ ]:
df = pd.read_csv("/kaggle/input/canada-per-capita-income/canada_per_capita_income.csv")
df.head()

**Viewing the top 10 Rows**

In [ ]:
df.head(10)

**Viewing the Data**

*By default, the tail() method returns the headers and last 5 rows*

In [ ]:
df = pd.read_csv("/kaggle/input/canada-per-capita-income/canada_per_capita_income.csv")
df.tail()

**Viewing the last 10 Rows**

In [ ]:
df.tail(10)

**Info About the Data**

*The DataFrames object has a method called info(), that gives you more information about the data set*

In [ ]:
df.info()

**Data Cleaning**

*Data cleaning means fixing bad data in your data set*

*Bad data could be:*

*-> Empty cells*

*-> Data in wrong format*

*-> Wrong data*

*-> Duplicates*

**Pandas - Cleaning Empty Cells**

*Empty cells can potentially give you a wrong result when you analyze data*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df

**Replace Empty Values**

*A way of dealing with empty cells is to insert a new value instead*

*The fillna() method allows us to replace empty cells with a value*

*If you want to change the original DataFrame, use the inplace = True argument*

*The fillna(inplace = True) will NOT return a new DataFrame, but it will fill all rows containing NULL values from the original DataFrame*

In [ ]:
df = df.fillna(130)
df

**Using Pandas replace() Method**

*This Method replace 450 from Duration Column to 45*

In [ ]:
df.Duration.replace(450,45)

**Replace Only For Specified Columns**

*By using this syntax you can fill values at NaN position for Specific Column*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
new_df = df["Calories"].fillna(130)
new_df

**dropna() attribute return a new Data Frame with no empty cells**

*By default, the dropna() method returns a new DataFrame, and will not change the original*

*If you want to change the original DataFrame, use the inplace = True argument*

*The dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
new_df = df.dropna()
new_df

**Delete from Specific Column**

*By using this syntax you can delete NaN Values from Specific Column*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
new_df = df["Calories"].dropna()
new_df

**Replace Using Mean, Median, or Mode**

*Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df_cal = df["Calories"]
df_cal

**Mean = the average value (the sum of all values divided by number of values)**

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df_mean = df["Calories"].mean()
df["Calories"].fillna(df_mean)

**Median = the value in the middle, after you have sorted all values ascending**

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df_median = df["Calories"].median()
df["Calories"].fillna(df_median)

**Mode = the value that appears most frequently**

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df_mode = df["Calories"].mode()[0]
df["Calories"].fillna(df_mode)

**Pandas - Cleaning Data of Wrong Format**

*Convert Into a Correct Format*

*In our Data Frame, we have two cells with the wrong format. Check out row 22 and 26, the 'Date' column should be a string that represents a date*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df["Date"]

**Pandas has a to_datetime() method for Converting Date to right Format**

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df["Date"] = pd.to_datetime(df["Date"])
df["Date"]

**Pandas - Fixing Wrong Data**

*How can we fix wrong values, like the one for "Duration" in row 7?*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df["Duration"]

**Replacing Values**

In [ ]:
df.loc[7,"Duration"] = 45
df["Duration"]

*To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")

for x in df.index:
    if df.loc[x,"Duration"] > 60:
        df.loc[x,"Duration"] = 60
        
df["Duration"]

**Pandas - Removing Duplicates**

*Duplicate rows are rows that have been registered more than one time*

*To discover duplicates, we can use the duplicated() method*

*The duplicated() method returns a Boolean values for each row*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df.duplicated()

**Removing Duplicates**

*To remove duplicates, use the drop_duplicates() method*

*The (inplace = True) will make sure that the method does NOT return a new DataFrame, but it will remove all duplicates from the original DataFrame*

In [ ]:
df.drop_duplicates()

**Pandas - Data Correlations**

*Finding Relationships*

*The corr() method calculates the relationship between each column in your data set*

*The corr() method ignores "not numeric" columns*

**The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns**

**The number varies from -1 to 1**

*1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well*

**Perfect Correlation**

*We can see that "Duration" and "Duration" got the number 1.000000, which makes sense, each column always has a perfect relationship with itself*

**Good Correlation**

*"Duration" and "Calories" got a 0.922721 correlation, which is a very good correlation, and we can predict that the longer you work out, the more calories you burn, and the other way around: if you burned a lot of calories, you probably had a long work out*

**Bad Correlation**

*"Duration" and "Maxpulse" got a 0.009403 correlation, which is a very bad correlation, meaning that we can not predict the max pulse by just looking at the duration of the work out, and vice versa*

In [ ]:
df.corr()

**loc[ ] and iloc[ ] Function**

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df

**Index-based Selection**

*Selecting First Column of CSV File*

In [ ]:
df.iloc[0]

**Index Selection Using List**

*Selecting Row 1,3,5 of Column 1*

In [ ]:
df.iloc[[1,3,5],1]

**Label-based Selection**

In [ ]:
df.loc[0,"Calories"]

**Label-based Selection with Condition**

In [ ]:
df.loc[df.Duration == 60]

**Label-based Selection with Multiple Condition by Using "and" Operator**

In [ ]:
df.loc[(df.Duration == 60) & (df.Pulse == 110)]

**Label-based Selection with Multiple Condition by Using "or" Operator**

In [ ]:
df.loc[(df.Duration == 60) | (df.Pulse == 110)]

**isin() Built-in Conditional Selector**

*isin() lets you select data whose value "is in" a list of values*

In [ ]:
df.loc[df.Pulse.isin([100,92])]

**isnull() Built-in Conditional Selector**

*isnull() methods let you highlight values which are (or are not) empty (NaN)*

In [ ]:
df.loc[df.Calories.notnull()]

**isnull() Conditional Selector**

*To select NaN entries you can use pd.isnull()*

In [ ]:
df[pd.isnull(df.Calories)]

**Summary Functions**

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df.Pulse.describe() # This method generates a high-level summary of the attributes of the given column

In [ ]:
df.Pulse.unique() # To see a list of unique values we can use the unique() function

In [ ]:
df.Pulse.value_counts() # To see a list of unique values and how often they occur in the dataset, we can use the value_counts() method

**Renaming**

*This Method lets you change index names and/or column names*

In [ ]:
df.rename(columns = {"Duration":"Time"})

**Sorting**

*To get data in the order we want, we use sort_values() Method*

In [ ]:
df.sort_values(by = "Duration")

**sort_values() defaults to an ascending sort, where the lowest values go first**

*However, most of the time we want a descending sort, where the higher numbers go first, then we use sort_values(by = "col_name", ascending = False)*

In [ ]:
df.sort_values(by = "Duration",ascending = False)

In [ ]:
df.sort_index() # To sort by index values, use the companion method sort_index()

**Grouping**

*count() and len Function both gives the same result but count() gives the output as Series and len gives the output as Data Frame*

In [ ]:
df = pd.read_csv("/kaggle/input/pandas-practice-dataset/data.csv")
df.groupby("Duration").Duration.count() # Grouping the Values of Duration Column by Combining it with Count Function

In [ ]:
type(df.groupby("Duration").Duration.count()) # This returns a Pandas Series

In [ ]:
df.groupby(["Duration"]).Duration.agg([len]) # Grouping the Values of Duration Column by Combining it with length Function

In [ ]:
type(df.groupby(["Duration"]).Duration.agg([len])) # This returns a Pandas Data Frame

In [ ]:
df.groupby("Duration").Pulse.min() # Grouping the Values of Duration Column with Minimum Pulse